.submit-top {
    text-align: center;
}

.submit-top h1 {
    font-size: 30px;
}

.title-form {
    margin-top: 30px;
}

.title-form input {
    width: 500px;
}

.select-form {
    margin-top: 30px;
}

.select {
    width: 500px;
    margin: 0 auto;
}

.viewSentence-wrapper {
    margin-top: 30px;
}

.index {
    font-size: 25px;
    display: inline;
}

.viewSentence-wrapper button {
    margin-left: 30px;
}

.viewSentence {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.imgView {
    height: 200px;
}

.view {
    margin-right: 10px;
}

.submit-top button {
    margin: 30px;
}