.submit-top {
    text-align: center;
}

.submit-top h1 {
    font-size: 30px;
}

@media screen and (max-width: 650px) {
    .explain {
        width: 350px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 650px) {
    .explain {
        width: 650px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 650px) {
    .title-form input {
        width: 350px;
    }
}
@media screen and (min-width: 650px) {
    .title-form input {
        width: 650px;
    }
}

.title-form {
    margin-top: 30px;
}

.select-form {
    margin-top: 30px;
}

@media screen and (max-width: 650px) {
    .select {
        width: 350px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 650px) {
    .select {
        width: 650px;
        margin: 0 auto;
    }
}

.viewSentence-wrapper {
    margin-top: 30px;
}

.index {
    font-size: 25px;
    display: inline;
}
 
.viewSentence-wrapper button {
    margin-left: 30px;
}

.viewSentence-wrapper {
    margin: 20px;
}

@media screen and (max-width: 650px) {
    .viewSentence {
        margin-top: 10px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 650px) {
    .viewSentence {
        margin-top: 10px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    .viewSentence textarea {
        margin-top: 10px;
    }
}

.imgView {
    margin: 0 auto;
    margin-top: 10px;
    height: 200px;
}

.submit-top button {
    margin: 30px;
}